COMPOSE_FILE=docker-compose.yml
POSTGRES_DB=petstore
POSTGRES_USER=petstore
POSTGRES_PASSWORD=petstore
PETSTORE_TOKEN_SECRET=
PETSTORE_DB_VOLUME=swagger-petstore-db-data
PETSTORE_MEDIA_VOLUME=swagger-petstore-media-data
PETSTORE_MAIL_VOLUME=swagger-petstore-mail-data
FRONTEND_PORT=8090
PETSTORE_MAIL_HTTP_PORT=8025
PETSTORE_MAIL_SMTP_PORT=2525
PETSTORE_MAIL_IMAP_PORT=1143
PETSTORE_IMAGE=andymentor/swagger-petstore
PETSTORE_IMAGE_TAG=latest
FRONTEND_IMAGE=andymentor/lapki-frontend:latest
PETSTORE_MAIL_IMAGE=andymentor/swagger-petstore-mail:latest
PETSTORE_DEMO_CATALOG=true
